/* resets */
:root{
  --cor1:#ebba34 ;
  --cor2:#050505 ;
}
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #999;
  border-radius: 5px;
}
/* fim resets */
/* configd gerais */
body{
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale ;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt" ,"ss01", "ss03", "cv01","cv02", "cv03", "cv04", "cv05", "cv06" , "cv09" , "cv10";
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62,5%;

}
.navbar-brand{
  border: 1px solid white;
}
.btn-dark{
  color: white;
  font-size: 1.3rem;
  background: #000;
}
.btn-dark:hover{
  background-color: #ebba34;
  color: #050505;
}
li{
  font-size: 1.3rem;
}
.use{
  list-style: none;
}
.btn-primary{
  background-color: var(--cor1);
  color: var(--cor2);
}
i{
  font-size: 1.9rem;
}
a:hover{
  color: var(--cor2);
}
.link-dark:hover{
  color: #ebba34;
}
.destaque{
  color: var(--cor1);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item .nav-link:hover{
  border-bottom: 1px solid #0f4ce4;
  color: #ebba34;
}
.img-config{
  width: 3.5rem;
}
.img-config:hover{
  width: 4.3rem;
  cursor: pointer;
  animation: smooth;
}
.bg-dark{
  background-color: #050505;
}

/* Define the keyframes animation */
@keyframes backgroundLoop {
  0% {
    background-image: url('../img/anastase-maragos-7kEpUPB8vNk-unsplash.jpg'); /* Initial background image */
  }
  25%{
    background-image: url("../img/risen-wang-20jX9b35r_M-unsplash.jpg"); 
  }
  50%{
    background-image: url("../img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg");
  }
  100% {
    background-image: url("../img/sa.jpg"); /* Back to the initial image at 7 seconds (100%) */
  }
}
/* Style for the information bar */
.information-bar {
  background-color: #ebba34;
  color: #fff;
  padding: 10px 0;
  overflow: hidden;
}

/* Style for the information content */
.information-content {
  display: flex;
  animation: scroll 20s linear infinite; /* Adjust the animation duration as needed */
}

/* Style for each individual info item */
.info-item {
  min-width: 200px; /* Adjust the width as needed */
  padding: 10px;
  text-align: center;
}

/* Keyframes animation for scrolling */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation to the section */
.home {
  animation: backgroundLoop 10s linear  infinite;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: cover;
  background-position: center;
}

.info-text{
  font-size: 1.8rem;
  color: #050505;
 
}

/* fim config gerais */

/* serviços */
/* Estilize a seção */
.services-section {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background-color: #050505; 
}

/* Estilize o título */
.section-title {
  font-size: 2.3rem;
  color: #fff; 
}

/* Estilize o subtitulo */
.section-subtitle {
  font-size:1.8rem;
  color: #ebba34; 
  margin-bottom: 30px;
}

/* Estilize os cards */
.service-card {
  display: inline-block;
  width: 300px;
  background-color: #2a1d1dfe; 
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; 
}

.service-card:hover {
  transform: scale(1.05);
}

.service-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}
.service-img:hover{
  transform: scale(1.1);
}


.service-title {
  font-size: 24px;
  color: #ebba34; 
  margin-top: 10px;
}
.services-section {
  text-align: center;
  padding: 40px;
  background-color: #050505; 
} 

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color:  #ebba34;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: rgba(117, 184, 49, 0.396);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: white;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.service-description {
  font-size: 1.3rem;
  color: #fff; 
  margin-top: 10px;
}
/* fim serviços */

/* modalidades */
.img-mod{
  width: 30rem;
}
.img-mode{
  width: 20rem;
  height: 20rem;
}
.section-title2{
  font-size: 2.3rem;
  color: #fff; 
}
.section-subtitle2 {
  font-size:1.8rem;
  color: #ebba34; 
  margin-bottom: 30px;
}



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}


.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* modalidades end */

/* scroll top */
.scrollTop {
  outline: none;
  border: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none; /* Inicialmente, ocultar o botão */
}

.scrollTop img {
  width: 100%;
  height: 100%;
}

.scrollTop.show {
  display: block; /* Mostrar o botão quando necessário */
}

/* scroll top end */
/* CSS */



/* media */

@media (max-width: 592px) {
  .d-flex.flex-column.align-content-end.justify-content-between {
    flex-direction: row;
  }


  .d-flex.flex-column.align-content-end.justify-content-between a {
    margin-right: 20px; /* Espaçamento entre os ícones */
  }

}

@media (max-width: 980px) {
  .d-flex.flex-column.align-content-end.justify-content-between {
    flex-direction: row;
  }

  .d-flex.flex-column.align-content-end.justify-content-between a {
    margin-right: 20px; /* Espaçamento entre os ícones */
  }


}
/* Classe para ocultar o botão e o texto em telas menores */
.hide-on-small-screens {
  display: block; /* Inicialmente, exibir o elemento */
}

@media (max-width: 980px) {
  .hide-on-small-screens {
    display: none; /* Ocultar o elemento em telas menores */
  }
}
@media (max-width: 378px) {
  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    align-items: center;
  }
  
  .service-card {
    margin-bottom: 20px;
  }
}


