/* resets */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root{
  --cor1:#ebba34 ;
  --cor2:#050505 ;
}
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #999;
  border-radius: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

#calc-container input[type="text"],
#calc-container input[type="number"] {
  background-color: transparent;
  color: white;
}
/* fim resets */

/* configd gerais */

body{
  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale ;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt" ,"ss01", "ss03", "cv01","cv02", "cv03", "cv04", "cv05", "cv06" , "cv09" , "cv10";
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62,5%;
  font-family: 'Lato', sans-serif;
 font-family: 'Open Sans', sans-serif;
 background-color: #050505;

}

.navbar-brand{
  border: 1px solid white;
}

.btn-dark{
  color: white;
  font-size: 1.3rem;
  background: #000;
}

.btn-dark:hover{
  background-color: #ebba34;
  color: #050505;
}

li{
  font-size: 1.3rem;
}

.use{
  list-style: none;
}

.btn-primary{
  background-color: var(--cor1);
  color: var(--cor2);
}

i{
  font-size: 1.9rem;
}

a:hover{
  color: var(--cor2);
}

.link-dark:hover{
  color: #ebba34;
}

.destaque{
  color: var(--cor1);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item .nav-link:hover{
  border-bottom: 1px solid #0f4ce4;
  color: #ebba34;
}

.img-config{
  width: 3.5rem;
}

.img-config:hover{
  width: 4.3rem;
  cursor: pointer;
  animation: smooth;
}

.bg-dark{
  background-color: #050505;
}


@keyframes backgroundLoop {
  0% {
    background-image: url('../img/anastase-maragos-7kEpUPB8vNk-unsplash.jpg'); 
  }
  25%{
    background-image: url("../img/risen-wang-20jX9b35r_M-unsplash.jpg"); 
  }
  50%{
    background-image: url("../img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg");
  }
  100% {
    background-image: url("../img/sa.jpg"); /
  }
}

.information-bar {
  background-color: #ebba34;
  color: #fff;
  padding: 10px 0;
  overflow: hidden;
}


.information-content {
  display: flex;
  animation: scroll 20s linear infinite; 
}


.info-item {
  min-width: 200px; 
  padding: 10px;
  text-align: center;
}


@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home {
  animation: backgroundLoop 10s linear  infinite;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: cover;
  background-position: center;
}

.info-text{
  font-size: 1.8rem;
  color: #050505;
 
}

/* fim config gerais */

/* serviços */

.services-section {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background-color: #050505; 
}


.section-title {
  font-size: 2.3rem;
  color: #fff; 
}


.section-subtitle {
  font-size:1.8rem;
  color: #ebba34; 
  margin-bottom: 30px;
}


.service-card {
  display: inline-block;
  width: 300px;
  background-color: #2a1d1dfe; 
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; 
}

.service-card:hover {
  transform: scale(1.05);
}

.service-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.service-img:hover{
  transform: scale(1.1);
}


.service-title {
  font-size: 24px;
  color: #ebba34; 
  margin-top: 10px;
}

.services-section {
  text-align: center;
  padding: 40px;
  background-color: #050505; 
} 

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color:  #ebba34;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: rgba(117, 184, 49, 0.396);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: white;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.service-description {
  font-size: 1.3rem;
  color: #fff; 
  margin-top: 10px;
}
/* fim serviços */

/* modalidades */

.section-title2{
  font-size: 2.3rem;
  color: #fff; 
}

.section-subtitle2 {
  font-size:1.8rem;
  color: #ebba34; 
  margin-bottom: 30px;
}

.modalidades{
  background-color: #050505;
}

.modalidades h3{
  font-size: 2.2rem;
}

.modalidades p{
  font-size: 1.4rem;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1.4rem;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-85:hover{
  color: var(--cor1);
}
/* modalidades end */

/* calc imc */

.hide{
  display: none !important;
}

.container1{
  min-width: 90vw;
  min-height: 90vh;
  background-color: #050505;
  padding: 2rem;
  background-image: url(../img/imc-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(0.5px); */
  border: none;
}
/* IMC FORM */
#calc-container h2{
  text-align: center;
  margin-bottom: 2rem;
  color: var(--cor1);
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.form-control1{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.form-control1 label{
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: var(--cor1);
  margin: 0 auto;
  font-size: 1.5rem;
}

.form-control1 input{
  margin: 0 auto;
  padding: 1rem 0.5rem;
  width: 50%;
}

.action-control{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex: 1;
  gap: 1rem;
}

button{
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #002bff;
  border: none;
  cursor: pointer;
  color: white;
  opacity: 0.9;
 gap: 1rem;
 margin: 0 auto;
}

button:hover{
  opacity: 1;
}
#clear-btn{
  background-color: var(--cor1);
  margin: 0 auto;
}

/* Table */
#result-container {
  text-align: center;
  color: white;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 2.1rem;
  color: white;
}

#result-container h3 {
  font-size: 2.3rem;
  margin-top: 1rem;
  color: var(--cor1);
}

#result-container {
  display: flex;
  flex-direction: column;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: white;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #7a00ff;
  text-align: center;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
/* calc imc end */

/* personal */
.container2{
  display: flex;
  width: 100%;
background-color: #050505;
height: 90vh;
}

.painel{
  background-size: auto 100%;
  background-position: center;
  background-repeat:  no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.painel h3{
  font-size: 1.5rem;
  color:var(--cor1);
}
.painel:active{
  flex: 5;
}
.painel.active h3{
  opacity: 1;
  transition: opacity 2s ease-in;
}

@media (max-width: 508px){
  .container{
    width: 100vw;
  }
  .painel:nth-of-type(4),
  .painel:nth-of-type(5){
    display: none;
  }
}
/* personal end */

/* pricing card */
.dark-container{
  background-color: #050505;

}
.pricing-card {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.highlighted {
  background-color: #ebba34;
  color: #050505;
}




/* CSS */
.button-81 {
  background-color: var(--cor2);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: var(--cor1);
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: 10px;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
/* princing card end */

/* depoiment card slider */

.bg{
  background-color: #111;
}
.estiling{
  color: var(--cor1);
}
.slider-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #050505;
  color: white;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center;
}

.slide img {
  max-width: 100%;
  border-radius: 50%;
}

p {
  font-size: 18px;
}

.author {
  font-style: italic;
}




/* depoiment card slider end */

/* contact  */
.container45{
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-cs{
  background-color:#222;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.form-cs h3{
  color: var(--cor1);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.input-contact{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgba(36, 14, 14, 0.399);
   color: white;
   font-size: 1.3rem;
}
.form-cs textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
   background: rgba(36, 14, 14, 0.399);
   font-size: 1.3rem;
   color: white;
}
.form-cs , button{
  padding: 15px;
  background-color: var(--cor1);
  color: black;
  font-size: 1.2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 20px auto 0;
}
.form-cs , button:hover{
  color: white;
  background-color: #0d172a;
}
/* contact end */

/* FAQ */
.faq-card {
  background-color: #fff;
  border: none;
}

.faq-card-header {
  background-color: #050505;
  color: #ebba34;
}
/* FAQ end */

/* table gym */
/* Estilos para a seção de Horários das Aulas */
.horarios {
  padding: 80px 0;
   color: white;
}

.horarios .conteudo {
  display: flex;
}

.horarios .conteudo .caixa {
  flex: 0 0 50%;
  max-width: 100%;
  padding: 15px;
}

.horarios .conteudo .texto h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--cor1);
  padding: 0 0 20px;
}

.horarios .conteudo .texto p {
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 0 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.horarios .conteudo .texto img {
  width: 100%;
  transform: rotateY(180deg);
}

.horarios .conteudo .horarios .tabela {
  width: 100%;
  border-collapse: collapse;
}

.horarios .conteudo .horarios .tabela td {
  border: 1px solid #dfdfdf;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  color: white;
}

.horarios .conteudo .horarios .tabela tr:nth-child(even) td.dia {
  background-color: #222222;
}

.horarios .conteudo .horarios .tabela tr:nth-child(odd) td.dia {
  background-color: #444444;
}

.horarios .conteudo .horarios .tabela tr:nth-child(1) td.dia {
  background-color: #c11325;
}

.horarios .conteudo .horarios .tabela tr td.dia {
  color: #ffffff;
  border-color: transparent;
}

/* table gym end */

/* footer */

footer{
  background-color:#111;
  padding: 50px 0;
}

.container-footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;

}

.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul{
  list-style: none;
}

.footer-col ul li{
  margin: 10px 0;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #cecdcd;
  padding-left: 10px;
}

.footer-col .medias-socias{
  margin-top: 30px;
}

.footer-col .medias-socias a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.footer-col .medias-socias a i{
  font-size: 20px;
}

.footer-col .medias-socias a:hover{
  color: #415aca;
  background-color: white;
}

.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px; 
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #415aca;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;        
}


/* footer end */


/* scroll top */
.scrollTop {
  outline: none;
  border: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none; 
}

.scrollTop img {
  width: 100%;
  height: 100%;
}

.scrollTop.show {
  display: block; 
}
.hidden{
  display: none;
}
/* scroll top end */




/* media */

@media (max-width: 592px) {
  .d-flex.flex-column.align-content-end.justify-content-between {
    flex-direction: row;
  }


  .d-flex.flex-column.align-content-end.justify-content-between a {
    margin-right: 20px; 
  }

}

@media (max-width: 980px) {
  .d-flex.flex-column.align-content-end.justify-content-between {
    flex-direction: row;
  }

  .d-flex.flex-column.align-content-end.justify-content-between a {
    margin-right: 20px; 
  }


}

.hide-on-small-screens {
  display: block; /
}

@media (max-width: 980px) {
  .hide-on-small-screens {
    display: none; 
  }
}
@media (max-width: 378px) {
  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    align-items: center;
  }
  
  .service-card {
    margin-bottom: 20px;
  }
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }
}

@media (max-width: 768px) {
  .slide {
      flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .slide {
      flex: 0 0 100%;
  }
}

@media screen and (max-width: 768px) {
  .horarios .conteudo{
    flex-wrap: wrap;
  }
  .horarios .conteudo .caixa{
  flex: 0 0 100%;
      max-width: 100%;	
  }
}